<div id="<%= dom_id flight %>">
  <p>
    <strong>Departure airport:</strong>
    <%= flight.departure_airport_code %>
  </p>

  <p>
    <strong>Destination airport:</strong>
    <%= flight.destination_airport_code %>
  </p>

  <p>
    <strong>Departure time:</strong>
    <%= flight.departure_time %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= flight.duration %>
  </p>

</div>
