<h1>Flights</h1>

<%= render "search_form", flight: @flight %>

<div id="flights">
  <% @flights.each do |flight| %>
    <%= render flight %>
    <%= form_with url: new_booking_path, method: "get" do |form| %>
      <%= form.hidden_field :flight_id, value: flight.id %>
      <%= form.hidden_field :number_of_passengers,
        value: params[:number_of_passengers] %>
      <%= form.submit "Book this flight", name: nil %>
    <% end %>
    <br>
  <% end %>
</div>
