<div id="<%= dom_id booking %>">
  <h2>Flight</h2>
  Flight Number: <%= booking.flight_id %>
  <br><%= booking.flight.departure_airport_code %> ->
  <%= booking.flight.destination_airport_code %>
  <br><%= booking.flight.departure_date_formatted %> @
  <%= booking.flight.departure_time_formatted %>

  <h2>Passengers</h2>
  <ul>
    <% booking.passengers.each do |passenger| %>
      <li><%= passenger.name %>: <%= passenger.email %></li>
    <% end %>
  </ul>
</div>
